
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="section group">
	<div class="col span_1_of_3">
		<div class="contact_info">
			<h3>Find Us Here</h3>
			<div class="map">
				<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">Daha büyük harita</a></small>
			</div>
		</div>
		<div class="company_address">
			<h3>Murat Bircan :</h3>
			<p>Telefon:+90 536 952 9799</p>
			<p>Email: <span><a href="mailto:mbircan9@gmail.com">mbircan9@gmail.com</a></span></p>
			<p>Takip et: <span><a href="https://www.facebook.com/m.bircan.9" target="_blank">Facebook</a></span>, <span><a href="https://twitter.com/Mbircan9" target="_blank">Twitter</a></span></p>
		</div>
	</div>
	<div class="col span_2_of_3">
		<div class="contact-form">
			<h3>Bize Ulaşın</h3>
			<form>
				<div>
					<span><label>İsim</label></span>
					<span><input type="text" value=""></span>
				</div>
				<div>
					<span><label>E-mail</label></span>
					<span><input type="text" value=""></span>
				</div>
				<div>
					<span><label>Konu</label></span>
					<span><textarea> </textarea></span>
				</div>
				<div>
					<span><input type="submit" value="Gönder"></span>
				</div>
			</form>
		</div>
	</div>
</div>

