
@{
    ViewBag.Title = "Activation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(ViewBag.sonuc)</h2>
<a class="btn btn-info" href="@Url.Action("Index","Home")">Ana sayfaya geri dön.</a>

