@model BW.Models.ViewModels.LoginViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
	<div class="login-05">
		<div class="fifth-login">
			<h2>GİRİŞ YAP</h2>
			@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "five" }))
			{
				@Html.AntiForgeryToken()
				<li>
					@Html.TextBoxFor(x => x.Username, new
					{
						@class = "text",
						value = "EMAIL",
						onfocus = "this.value = ''",
						onblur = "if (this.value == '') {this.value = 'EMAIL';}"
					})<a href="#" class=" icon5 user2"></a>
				</li>
				<li class="blue">
					@Html.TextBoxFor(x => x.Password, new { type = "password", value = "PASSWORD", onfocus = "this.value = '';", onblur = "if (this.value == ''){this.value = 'PASSWORD';}" })<a href="#" class=" icon5 lock2"></a>
				</li>
				<div class="submit-five">
					<input type="submit" value="GİRİŞ">
				</div>
			}
		</div>
	</div>
	<!------ Include the above in your HEAD tag ---------->

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

